body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.content-block {
    background-color: white;
}

.left-content {
    display: inline-block;
    width:600px;
}

.left-content__date_normal {
    color:grey;
    font-size: 8px;
    text-align: left;
}

.left-content__zagolovok_main {
    font-size: 20px;
}

.left-content__social_zaglushka {
    border: 1px dashed black;
    width: 300px;
    margin: 20px 0px 20px 0px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-style: italic;
}

.left-content__big-image-zone {

}

.left-content__main-text_normal {
    font-size: 12px;
    color: black;
    text-align: left;
}

.left-content__inner-zone {
    font-size: 11px;
    float: left;
    width: 250px;
    
}

.left-content__zagolovok_zagolovok-1 {
    font-weight: normal;
    text-transform: uppercase;
    background-color: lightgray;
    height: 30px;
    vertical-align: middle; 
    margin-top: 0px;
}

.left-content__innerdata_za {
    padding-left: 10px;
}

.left-content__innerdata_za-1 {
    font-size: 9px;
    color:rgb(192, 13, 13);
}


.left-content__small-image-zone_active-image {
    padding: 0px 10px 20px 10px;
    float: left;
}

.left-content__zagolovok_zagolovok-2 {
    font-weight: bold;
}

.right-content {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    border-top: 2px rgb(192, 13, 13) solid;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.right-content__zagolovok_novosti {
    font-size:14px;
    height: 30px;
    background-color: lightgray;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px 20px 0px 10px;
}

.right-content__spisok_light {
    font-size:12px;
    list-style-type: none;
    padding: 0px 10px 0px 10px;
    margin: 5px 5px;
 }

.right-content__points_light-1 {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid lightgrey;
}

.right-content__points_light-2 {
    font-size: 9px;
    color:rgb(192, 13, 13);
    padding: 10px 0px 10px 0px;
}

.right-content__points_light-3 {
    padding: 10px 0px 10px 0px;
}
