.content-block {
width:900px;
background-color: white;
}
.left-content {
width:600px;
}
.left-content__date_normal {
color:grey;
font-size: 8px;
}
.left-content__zagolovok_main {

}
.left-content__social_zaglushka {

}
.left-content__big-image-zone {

}
.left-content__main-text_normal {

}
.left-content__inner-zone {

}
.right-content {

}
.right-content__news-block {

}
